<div>
  <button class="Btn">Open interactive panel</button>
  <input class="Btn" type="button" value="Go">
  <input class="Btn" type="submit" value="Login">
  <input class="Btn" type="reset" value="Reset">
  <a class="Btn" href="#!">Click here</a>
</div>
